<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            Student Task Manager
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarContent"
                aria-controls="navbarContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">

            <div class="navbar-nav">
                <a class="nav-link" href="/">Dashboard</a>
                <a class="nav-link" href="/students">Students</a>
                <a class="nav-link" href="/add_student/">Add Student</a>
                <a class="nav-link" href="/attendance">Attendance</a>
                <a class="nav-link" href="/attendance_report">Attendance Report</a>
                <a class="nav-link" href="/tasks">Tasks</a>
                <a class="nav-link" href="/add_task">Add Task</a>
                <a class="nav-link" href="/assign_task">Assign Task</a>
                <a class="nav-link" href="/student_tasks">Student Tasks</a>
            </div>

            <div class="navbar-nav ms-auto">
                <a class="nav-link text-warning" href="/logout">
                    Logout
                </a>
            </div>

        </div>

    </div>
</nav>